.about-preview {
	width: 100%;
	padding: 144px 0;
}

.about-preview-layout {
	width: min(1128px, 100%);
	margin-inline: auto;
}

.about-preview-card {
	min-width: 0;
	padding: 96px 233px;
}

.about-preview-card--stories {
    background: var(--color-surface-accent);
}

.about-preview-card--about{
    border: 1px solid var(--color-surface-accent);
}

.about-preview-card__content {
	width: 660px;
    padding-left: 96px;
    padding-right: 96px;
}

/* .about-preview-card .rule {
	margin-bottom: 8px;
} */

.about-preview-card__text {
	margin-top: 36px;
}

.about-preview-card__text p {
	margin: 0 0 16px;
}

.about-preview-card__text p:last-child {
	margin-bottom: 0;
}

.about-preview-card__content .arrow-link {
    margin-top: 32px;
}


/* =========================
   Mobile
   ========================= */

@media (max-width: 767px) {
	.about-preview {
		padding: 80px var(--mobile-gutter);
	}

	.about-preview-layout {
		width: 100%;
		grid-template-columns: 1fr;
	}

	.about-preview-card {
		padding: 56px 32px;
	}

    .about-preview-card__content {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }

	.about-preview-card__text {
		margin-top: 24px;
	}

	.about-preview-card__text p {
		margin-bottom: 16px;
	}

    .about-preview-card__content .arrow-link {
		margin-top: 24px;
	}
}
