@import "./tokens.css";
@import "./typography.css";


* {
	box-sizing: border-box;
}


body {

	margin: 0;

	background: var(--color-bg);

}


img {

	max-width: 100%;
	display: block;

}


a {

	color: inherit;

	text-decoration: none;

}