.manifesto {
	width: 100%;
	padding: 144px 0;
}

.manifesto-layout {
	width: min(1128px, 100%);
	margin-inline: auto;

	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0;
}

.manifesto-heading {
	margin: 0;
}

.manifesto-content {
	width: 100%;
	padding-top: 20px;
}

.manifesto-content p {
	margin-bottom: 32px;
}

.manifesto-content p:last-of-type {
	margin-bottom: 0;
}

.manifesto-layout .rule {
	margin-top: 40px;
}


/* =========================
   Mobile
   ========================= */

@media (max-width: 767px) {
	.manifesto {
		padding: 80px 20px;
	}

	.manifesto-layout {
		width: 100%;
		grid-template-columns: 1fr;
		row-gap: 24px;
	}

	.manifesto-content {
		padding-top: 0;
	}

	.manifesto-content p {
		margin-bottom: 24px;
	}

    .manifesto-layout .rule {
        margin-top: 32px;
    }

}