:root {

	/* Colors */

	--color-bg: #F6F2EB;
	--color-surface: #FFFFFF;

	--color-text: #252525;
	--color-muted: #6E6962;

	--color-accent: #263746;


	/* Layout */

	--container-width: 1280px;


	/* Spacing */

	--space-1: 8px;
	--space-2: 16px;
	--space-3: 24px;
	--space-4: 32px;
	--space-5: 48px;
	--space-6: 64px;
	--space-7: 96px;
	--space-8: 128px;

}